.App {
  text-align: center;
  overflow: hidden;
  
}

.Header{
  width: 100%;
  align-items: center;
  background-color: gold;
  padding: 10px 10px;
  color: white;
  font-size: 40px;
  box-shadow: 3px 3px 10px goldenrod;
  
  
}

.App-Container{
 
  display: flex;
  margin: auto;
  padding: 20px ;
  justify-content: center;
  max-width: 1280px;
  flex-wrap: wrap;
  
}